.finder_input_container {
    display: none;
    margin-top: 15px;
}

.finder_input_container_visible {
    display: block;
}

.finder_field_name {
    width: 17ch;
}

.findmenu_container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.standart_button {
    width: 130px;
}