.row_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.row_container:hover .cell_container {
    cursor: pointer;
    background-color: aqua;
}

.selected_row .cell_container {
    background-color: red;
}