.cell_container {
    width: 20%;
    min-width: 20%;
    text-align: center;
    padding: 5px 0;
    box-sizing: content-box;
    align-items: center;
    border-left: solid 1px #000;
    border-bottom: solid 1px #000;
    font: normal normal 12px Arial, sans-serif;
    overflow-wrap: break-word;
}

.cell_container:last-child {
    border-right: solid 1px #000;
}

.header {
    font: normal bold 14px Arial, sans-serif;
    border-top: solid 1px #000;
    background-color: #708090;
    color: #FFF;
}