.inputs_container {
    display: none;
}

.inputs_container_visible {
    display: block;
}

.field_name {
    display: inline-block;
    width: 10ch;
    text-align: left;
    font: normal bold 14px Arial, sans-serif;
}

.new_row_menu_container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.standart_button {
    width: 130px;
}